<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="//static.assets.sadlierconnect.com/sc-content/css/religion/wb_v1.4.css"/>
    <link rel="stylesheet" media="print" href="//static.assets.sadlierconnect.com/sc-content/css/print.css"/>
    <script type="text/javascript" src="//static.assets.sadlierconnect.com/sc-content/javascript/swfobject.js"></script>


</head>

<body class="sadlierReligion webelieve">
    <div id="pagecontainer">
        <div id="content" class="#resource-class#">
            #content#
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"> </script>
    #additionscript#
    <script src="//static.assets.sadlierconnect.com/sc-content/javascript/jquery.cookie.js"> </script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"> </script>
    <script src="//static.assets.sadlierconnect.com/sc-content/javascript/jquery.ba-postmessage.min.js"> </script>
    <script type="text/javascript" src="//static.assets.sadlierconnect.com/sc-content/javascript/one.js"> </script>
    <script type="text/javascript" src="//static.assets.sadlierconnect.com/sc-content/javascript/crossdomain.js"> </script>
    <script type="text/javascript" src="//static.assets.sadlierconnect.com/sc-content/javascript/religion/wb_v1.1.js"> </script>
</body>
</html>