<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <title>Gather in My Name</title>
    <link rel="stylesheet" href="wb_v1.7.css"/>
    <link rel="stylesheet" media="print" href="http://static.assets.sadlierconnect.com/sc-content/css/print.css"/>
</head>


<body class="sadlierReligion webelieve gather-in-my-name">
<div id="pagecontainer">
    <div id="gather">
        <div id="gimn">
            <div id="optionHeader">
                #NAVHeader#
                #imgHeader#
                </br>
                <img src="img/gather/title_teambackground.gif" class="gather-block team-background">
                <br clear="all">
            </div>

            <div id="gimnContent">
                <img src="img/gather/banner_orange.gif" height="8" width="100%">
                <br>
                <br>

                <div id="content">

                    <div class="navPanel gather-block we-gather">
                        <a class="nav-section on" target="no-1">1</a>
                        <a class="nav-section" target="no-2">2</a>
                        <a class="nav-section" target="no-3">3</a>
                        <a class="nav-section" target="no-4">4</a>
                        <a class="nav-section" target="no-5">5</a>|
                        <a class="nav-gather" target="after-gather">Next</a>
                    </div>

                    <div class="chart nav-area" style="border-width:0; margin-left: 2em;padding:0">
                        #OptionNVBCode#

                        <br clear="all"><br>

                        <div class="chart nav-chart">
                           #ChartCode#
                        </div>

                    </div>
                    <div class="group-block" id="group-main">
                        <div class="gather-block" id="guild-prep-chart">
                            #prep-chart-content#
                        </div>

                        <div class="gather-block" id="announcement">
                            #announcement-content#
                        </div>

                        <div class="gather-block invitation-letter" id="invitation-letter">
                            #prep-chart-invitation-letter#
                        </div>

                        <div class="gather-block team-background" id="team-background">
                            #team-background-content#
                        </div>

                        <div class="gather-block" id="before-gather">
                            #before-gather-letter-content#
                        </div>

                        <div class="gather-block we-gather" id="we-gather">
                            #we-gather-content#
                            <div class="section no-1">

                            </div>
                        </div>

                        <div class="gather-block" id="after-gather">
                            #after-gather-content#

                        </div>
                    </div>
                    <div class="group-block" id="group-grade">
                        #groupGradeContent#
                    </div>
                    <div class="group-block" id="group-cluster">
                        #groupClusterContent#
                    </div>


                    <div class="navPanel gather-block we-gather">
                        <a class="nav-section on" target="no-1">1</a>
                        <a class="nav-section" target="no-2">2</a>
                        <a class="nav-section" target="no-3">3</a>
                        <a class="nav-section" target="no-4">4</a>
                        <a class="nav-section" target="no-5">5</a>|
                        <a class="nav-gather" target="after-gather">Next</a>
                    </div>


                </div>


            </div>
        </div>
    </div>

</div>
<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/jquery-1.8.3.min.js"
        type="text/javascript"></script>
<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/jquery-ui.min.js"></script>
<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/jquery.cookie.js"></script>
<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/jquery.ba-postmessage.min.js"></script>
<!--<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/one.js" type="text/javascript"></script>-->
<!--<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/fontsize.js" type="text/javascript"></script>-->
<!--<script src='http://static.assets.sadlierconnect.com/sc-content/javascript/init_digital_resource_v1.3.js' type='text/javascript'></script>-->
<!--<script src="http://static.assets.sadlierconnect.com/sc-content/javascript/crossdomain_v1.6.js" type="text/javascript"></script>-->
<script src="wb_v1.3.js" type="text/javascript"></script>
</body>
</html>